html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 150%;
    color: #000000;
    background: #f3efea;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto;
}

[class*="__container"] {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
}

[class*="__image"] {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

[class*="__title"] {
    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.7em;
    line-height: 150%;
    color: #57463A;
}

.button {
    border: none;
    background: #A1B29F;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    color: #F6F6F6;
    padding: 18px 51px;
    transition: 0.5s;
}

.button:hover {
    background: #678064;
    cursor: pointer;
    border: none;
}

/*---------------Header---------------*/

.header {
    min-width: 15vh;
    border-bottom: 1px solid #000000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.header__nav-left,
.header__nav-right {
    width: 45vw;
}

.logo {
    display: flex;
    justify-content: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.header__nav-left {
    display: flex;
}

.header__nav-right {
    display: flex;
    justify-content: end;
}

.header__link-left {
    margin-right: 5vw;
    font-size: 0.9em;
    color: #323232;
}

.header__link-right {
    margin-left: 5vw;
    font-size: 0.9em;
    color: #323232;
}

.header__link-left:hover,
.header__link-right:hover {
    text-decoration: underline;
}

.hamburger__icon {
    display: none;
}


/*---------------About-head---------------*/

.about-head__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.about-head__title-top,
.about-head__title-bottom {
    max-width: 70vw;
    text-align: center;

}

.about-head__title-top {
    margin-top: 12vh;
    margin-bottom: 0;
}

.about-head__title-bottom {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

/*---------------About-figures---------------*/

.about-figures__container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 12vh;
}

.about-figures__title {
    margin-bottom: 0;
}

.about-figures__text {
    font-weight: 400;
    font-size: 1em;
}

/*---------------About-founder---------------*/

.about-founder__container {
    display: flex;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.about-founder__content {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.about-founder__title_founder {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.about-founder__subtitle,
.about-founder__text {
    font-size: 0.9em;
    font-weight: 400;
}

.about-founder__subtitle {
    margin-bottom: 10vh;
}

.about-founder__text {
    margin-top: 0;
    margin-bottom: 3vh;
}

/*---------------About-philosophy---------------*/

.about-philosophy__container {
    display: flex;
    flex-direction: column;
}

.about-philosophy__title {
    margin-bottom: 10vh;
}

.about-philosophy__text {
    text-align: end;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 150%;
    font-size: 1.5em;
}

/*---------------About-media---------------*/

.about-media__container {
    margin-top: 20vh;
}

.about-media__title {
    margin-bottom: 0;
}

.about-media__text {
    margin-bottom: 3vh;
}

.about-media__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.about-media__img {
    width: 17vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.about-media-carousel {
    position: relative;
    margin: 10vh auto;
}

.about-media-carousel__item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow_prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow_next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id*="__item"] {
    display: none;
}

.about-media-carousel__item_1 {
    z-index: 2;
    opacity: 1;
    background: url('../../assets/images/about/about-media__image-1.jpg');
    background-size: cover;
}

.about-media-carousel__item_2 {
    background: url('../../assets/images/about/about-media__image-2.jpg');
    background-size: cover;
}

.about-media-carousel__item_3 {
    background: url('../../assets/images/about/about-media__image-3.jpg');
    background-size: cover;
}

.about-media-carousel__item_4 {
    background: url('../../assets/images/about/about-media__image-4.jpg');
    background-size: cover;
}

*:target~.about-media-carousel__item_1 {
    opacity: 0;
}

#about-media-carousel__item_1:target~.about-media-carousel__item_1 {
    opacity: 1;
}

#about-media-carousel__item_2:target~.about-media-carousel__item_2,
#about-media-carousel__item_3:target~.about-media-carousel__item_3,
#about-media-carousel__item_4:target~.about-media-carousel__item_4 {
    z-index: 3;
    opacity: 1;
}

/*---------------About-contact---------------*/

.about-contact__container {
    display: flex;
    flex-direction: column;
}

.about-contact__button {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

/*---------------Footer---------------*/

.footer {
    background: #715B4B;
    min-height: 40vh;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
}

.footer__info {
    display: flex;
    flex-direction: column;
}

.footer__text {
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
    color: #F6F6F6;
    width: 25vw;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__links,
.footer__documents {
    display: flex;
    flex-direction: column;
}

.footer__link {
    font-size: 0.9em;
    color: #F6F6F6;
}

.footer__school {
    font-size: 0.9em;
    color: #F6F6F6;
}

.footer__socials {
    display: flex;
    margin-bottom: 5vh;
}

.footer__social {
    margin-left: 1.5vw;
}

/*---------------PAGES PRIVACY AND OFFER---------------*/

.privacy,
.offer {
    background: white;
}

.privacy__title,
.offer__title {
    padding-top: 15vh;
    margin-top: 0;
    line-height: 120%;
}

.privacy__text,
.offer__text {
    padding-top: 10vh;
    padding-bottom: 15vh;
    margin-bottom: 0;
    margin-top: 0;

}

/*---------------Медиазапросы---------------*/

@media screen and (min-width: 993px) {
    .about-media-carousel {
        display: none;
    }
}

@media screen and (max-width: 992px) {

    .about-founder__container {
        margin-top: 15vh;
    }

    .about-media__image {
        display: none;
    }

    .about-media-carousel {
        display: block;
        height: 858px;
        width: 678px;
    }

    .about-founder__container {
        flex-direction: column;
        margin-bottom: 10vh;
        padding-left: 0;
        padding-right: 0;
    }

    .about-founder__content {
        margin-top: 5vw;
        padding-left: 35px;
        padding-right: 35px;
        margin-left: 0;
    }

    .about-founder__text,
    .about-founder__subtitle {
        font-size: 1.1em;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__info {
        margin-bottom: 5vh;
    }

    .footer__documents,
    .footer__socials {
        margin-top: 5vh;
    }

    .footer__text,
    .footer__link {
        font-size: 1.3em;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .footer__text {
        width: 70vw;
    }

    .footer__social {
        margin-left: 0;
        margin-right: 3vw;
    }
}

@media screen and (max-width: 768px) {

    [class*="__title"] {
        font-size: 2em;
    }

    .header {
        border: none;
    }

    .header__container {
        display: none;
    }

    .hamburger__icon {
        display: block;
    }

    .hamburger__icon {
        display: block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        margin-left: 5vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .hamburger__icon a {
        text-decoration: none;
        color: #323232;
        transition: color 0.3s ease;
    }

    .hamburger__icon a:hover {
        color: #505050;
    }

    .hamburger__icon input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    .hamburger__icon span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #57463A;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }

    .hamburger__icon span:first-child {
        transform-origin: 0% 0%;
    }

    .hamburger__icon span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .hamburger__icon input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    .hamburger__icon input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .hamburger__icon input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .hamburger__menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #f3efea;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .hamburger__menu a {
        font-size: 2em;
    }

    .hamburger__icon input:checked~.hamburger__menu {
        transform: none;
    }

    .hamburger__link {
        margin: 5vh 0;
    }

    .about-head__title-top {
        margin-top: 5vh;
    }

    .about-figures__container {
        flex-direction: column;
    }

    .about-media-carousel {
        height: 696px;
        width: 550px;
    }
}

@media screen and (max-width: 650px) {
    .about-media-carousel {
        height: 569px;
        width: 450px;
    }
}

@media screen and (max-width: 550px) {

    [class*="__title"] {
        font-size: 1.5em;
    }

    .about-philosophy__text {
        font-size: 1.2em;
    }

    .about-media-carousel {
        height: 443px;
        width: 350px;
    }
}

@media screen and (max-width: 450px) {
    .about-media-carousel {
        height: 316px;
        width: 250px;
    }
}

@media screen and (max-width: 350px) {
    .about-media-carousel {
        height: 253px;
        width: 200px;
    }

    .button {
        padding: 18px 25px;
    }
}